<header class="header textcenter">
  <div class="upperrow">
    <div class="upperrow__left">
      <img src="assets/img/pokedex.svg" alt="">
      <h1 class="">Pokédex</h1>
    </div>

    <div class="upperrow__right">
        <input type="text" placeholder="Search Pokémon..."/>
        <img src="assets/img/lupe.png" class="search-img" alt="">
    </div>
  </div>
  <div class="genContainer">
    <button [ngClass]="{'selected': currentGen === i}" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]" (click)="loadGen2(i)">Gen{{i}}</button>
  </div>
</header>
