<header class="header textcenter">
  <div class="upperrow">
    <div class="upperrow__left">
      <img class="upperrow__left__pokedex" src="assets/img/pokedex.svg" alt="">
      <h1 class="">Pokédex</h1>
      <div class="upperrow__left__openScreens">
        <img src="assets/img/plus.svg" (click)="openOnSecondScreen()" alt="">
        <p>Open multiple Screens</p>
      </div>
    </div>

    <div class="upperrow__right">
        <input type="text" placeholder="Search Pokémon..." [(ngModel)]="searchTerm" (input)="filterPokemons()" />
    </div>
  </div>
  <div class="genContainer">
    <button [ngClass]="{'selected': currentGen === i}" *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]" (click)="loadGen(i)">Gen{{i}}</button>
  </div>
</header>
