<section class="pokemon-list">
  <div *ngFor="let pokemon of pokemons" (click)="displayOverlay(pokemon)">
    <div class="pokemon-card textcenter {{pokemon.types[0].type.name}}" id="pokeID{{pokemon.id}}">
      <div class="upper-part">
        <h2>#{{pokemon.id}}</h2>
        <h2>{{pokemon.name.toUpperCase()}}</h2>
      </div>
      <div class="lower-part">
        <div class="types">
          <img *ngFor="let type of pokemon.types" class="typeImg" src="assets/type-icons/{{type.type.name}}.svg">
        </div>
        <img class="pokemonImg" src="{{pokemon.sprites.other['official-artwork'].front_default}}" />
      </div>
    </div>
  </div>


  <app-overlay></app-overlay>
  <div class="loading-spinner" *ngIf="isLoading">
    <img src="assets/img/pokeball-spinner.svg" alt="">
  </div>
</section>
<div class="load-more-container" *ngIf="!isLoading && isLoadMoreVisible() && inputValue === ''">
  <button class="loadmore" (click)="loadMore()">Load more</button>
</div>

<div class="load-more-container" *ngIf="noPokemonFound">
  <button class="noPokemon">No Pokemon found</button>
</div>
