@import '../../styles.scss';

.pokemon-list {
  @include dFlexStandard();
  flex-wrap: wrap;
  margin-top: 44px;
  padding-bottom: 44px
}

.pokemon-card {
  color: $White;
  margin: 10px;
  padding: 10px;
  width: 280px;
  border: 1px solid $Bg-Progress;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 6px 2px $Shadow;
}

.upper-part, .lower-part {
  @include dFlexStandard($jc: space-between);
}

.lower-part {
  img {
    width: 150px;
    height: 150px;
    transition: all .1s ease-in-out;
    filter: drop-shadow(6px 5px 4px $Shadow);
  }
}

.types {
  @include dFlexStandard($g: 8px);
  img {
    width: 30px;
    height: 30px;
  }
}

.pokemonImg:hover {
  transform: scale(1.3);
}

.loading-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $Shadow;
  @include dFlexStandard();
  img {
    width: 300px;
    height: 300px;
    animation: spinn 1s linear infinite;
  }
}

@keyframes spinn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.load-more-container {
  @include dFlexStandard();
  padding-bottom: 44px;
}

button {
  @include dFlexStandard($g: 30px);
  cursor: pointer;
  height: 80px;
  width: 360px;
  background-color: $Primary-4;
  border: none;
  border-radius: 18px;
  color: $White;
  transition: background-color 0.1s ease-in-out;


  &.loadmore {
    font-size: 40px;
    &:hover {
      background-color: $Primary-1;
    }
  }
  &.noPokemon {
    font-size: 28px;
    cursor: context-menu;
  }
}
