@import 'assets/fonts/font.scss';
@import 'types.scss';

$White: #FAF9F6;
$Black: #02020A;
$Bg-1: #DDDDDD;
$Bg-2: #afadad;
$Primary-1: #D1292E;
$Primary-2: #8b1216;
$Primary-3: #c0494d;
$Primary-4: #94050a;
$Outline: #540000;
$Shadow: rgba(0, 0, 0, 0.788);
$Bg-overlay: rgba(0, 0, 0, 0.5);
$Bg-Progress: rgb(148, 148, 148);

body {
  margin: 0px;
  font-family: 'Lato', sans-serif !important;
  min-height: 100vh;
  background: linear-gradient(to bottom right, $Bg-1 30%, $Bg-2 82%);
  position: relative;
}



//mixins

@mixin dFlexStandard($jc: center, $ai: center, $fd: row, $g: 0) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $g;
}

//classes

.textcenter {
  text-align: center;
}

.h1,h2,h3 {
  margin: 0;
}
