<section *ngIf="pokemon">
  <div class="overlay-content {{pokemon.types[0].type.name}}">
    <div class="pokemonInfo">
      <div>
        <h2>#{{pokemon.id}} {{pokemon.name.toUpperCase()}}</h2>
        <div class="types">
          <img *ngFor="let type of pokemon.types" class="typeImg" src="assets/type-icons/{{type.type.name}}.svg">
        </div>
      </div>
      <img class="action-img" (click)="closeOverlay()" src="assets/img/schliessen.png">
    </div>

    <div class="pokemonSprite">
      <img class="action-img" src="assets/img/linker-pfeil.png" (click)="updatePokemon('previous')">
      <img class="pokemonImg" src="{{pokemon.sprites.other['official-artwork'].front_default}}" />
      <img class="action-img" src="assets/img/rechter-pfeil.png" (click)="updatePokemon('next')">
    </div>

    <div class="selectableRow">
      <p [ngClass]="getTabClass('stats')" (click)="selectTab('stats')">Stats</p>
      <p [ngClass]="getTabClass('abilities')" (click)="selectTab('abilities')">Abilities</p>
      <p [ngClass]="getTabClass('evolutions')" (click)="selectTab('evolutions')">Evolutions</p>
    </div>

    <div *ngIf="selectedTab==='stats'" class="pokemon-stats">
      <div *ngFor="let stat of pokemon.stats" class="stat">
        <div class="stat-name">{{stat.stat.name}}:</div>
        <div class="progress">
          <div class="progress-bar" [style.width.%]="stat.base_stat > 100 ? 100 : stat.base_stat">{{stat.base_stat}}</div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedTab==='abilities'" class="abilities" >
      <p *ngFor="let ability of pokemon.abilities" class="firstLetterUpper">{{ability.ability.name}}</p>
    </div>

    <div *ngIf="evolutionImages.length > 0 && selectedTab==='evolutions'"  class="evolutions">
        <img *ngFor="let image of evolutionImages" [src]="image" alt="Evolution image">
    </div>

  </div>
</section>

